body {
    font-family: Verdana;
}

.navbar A {
    font-weight: bolder;
    color: darkcyan;
    text-decoration: none;
}

    .navbar A:hover {
        color: red;
    }

.footer {
    background-color: slategrey;
}

    .footer A {
        color: White;
    }

        .footer A:hover {
            color: blue;
            text-decoration: none;
        }

h3 {
    color: aliceblue;
    text-shadow: 2px 2px 5px;
}

h2 {
    text-shadow: 2px 2px 5px;
}

table {
    border-collapse: separate;
    border: 3px solid black;
    border-spacing: 10px;
    box-shadow: 5px 10px rgb(219, 219, 219);
    border-radius: 4px 4px;
}

tr :nth-child(2n+1) {
    background-color: #f2f2f2;
}

#divContent {
    box-shadow: 5px 10px rgb(219, 219, 219);
    border-radius: 4px 4px;
}

p {
    font-family: Bahnschrift;
    font-weight: bold;
    font-size: medium;
}
